venv
.idea
tmp
HW2/Exercise_1/out/res05-reference-plane.mp4
HW2/Exercise_1/out/res07-background-video.mp4
HW2/Exercise_1/out/res08-foreground-video.mp4
HW2/Exercise_1/out/res09-background-video-wider.mp4
HW2/Exercise_1/out/res10-video-shakeless.mp4
